@if (ViewBag.message != null)
{
    <div class="alert @ViewBag.messageType p-3 rounded-3 text-center mb-5" role="alert"> @ViewBag.message </div>
}

@{
    ViewBag.Title = "Listeaza postari";
}

<h1 class="text-center"> @ViewBag.Title </h1>
<hr />
<br />

@foreach (Cod.Models.Post post in ViewBag.Posts)
{
    <div class="card">
        @Html.Partial("PostContent", post)
        <div class="d-flex flex-row justify-content-between p-2 pt-0">
            <a class="btn btn-success" href="/Posts/Show/@post.Id"> Afiseaza postare</a>
            <a class="btn btn-success" href="/Posts/Edit/@post.Id">Modifica postare</a>
            <a class="btn btn-success" href="/Comments/New/@post.Id">Adauga comentariu</a>
            <form method="post" action="/Posts/Delete/@post.Id">
                <button class="btn btn-danger" type="submit">Sterge postare</button>
            </form>
        </div>  
        @foreach (Comment comment in post.Comments)
        {
            <div class="card m-2 p-2">
                @Html.Partial("CommentContent", comment)
                <div class="d-flex flex-row justify-content-between">
                    <a class="btn btn-success" href="/Comments/Edit/@comment.Id">Modifica comentariu</a>
                    <form method="post" action="/Comments/Delete/@comment.Id">
                        <button class="btn btn-danger" type="submit">Sterge Comentariu</button>
                    </form>
                </div>
            </div>
        }
    </div>
    <br />
}
<br/>