@model Cod.Models.Post
@{
    ViewBag.Title = "Adauga postare";
}
<h1 class="text-center"> @ViewBag.Title </h1>
<hr />
<br />

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm(actionName: "New", controllerName: "Posts", method: FormMethod.Post))
{
    <input type="hidden" name="GroupId" value="@Model.GroupId" />
    <div class="card p-2">
        <div class="text-center">
            @Html.Label("Content", "Continut postare")
        </div>

        @Html.TextBox("Content", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    </div>
    <br />

    <button class="btn btn-success" type="submit"><i class="bi bi-plus-square"></i> Adauga postare</button>
}