@model Cod.Models.Post
<h2 class="text-center mt-5">Adaugare postare</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
            {
                @Html.Label("Content", "Continut postare")
                <br />
                @Html.TextBox("Content", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
                <br />
                <br />

                <label>Selectati grupul in care sa se faca postarea</label>
                @Html.DropDownListFor(m => m.GroupId,
                         new SelectList(Model.Groups, "Value", "Text"),
                         "Selectati grupul", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupId, "The group in which to write post is required", new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Adauga postare</button>
            }
        </div>
    </div>
</div>