@model Cod.Models.Group

@{
    ViewBag.Title = "Modifica grup";
}

<h2> @ViewBag.Title </h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm(controllerName: "Groups", actionName: "Edit", method: FormMethod.Post,
      routeValues: new { id = Model.Id }))
{
    @Html.Label("Name", "Numele grupului")
    <br />
    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Descrierea grupului")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-success" type="submit"> Modifica grup </button>
}


