@model Cod.Models.Group

@{
    ViewBag.Title = "Modifica grup";
}
<h1 class="text-center"> @ViewBag.Title </h1>
<hr/>
<br/>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm(controllerName: "Groups", actionName: "Edit", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    <div class="card p-2">
        <div class="text-center">
            @Html.Label("Name", "Numele grupului")
        </div>

        @Html.TextBox("Name", null, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
    <br/>

    <div class="card p-2">
        <div class="text-center">
            @Html.Label("Description", "Descrierea grupului")
        </div>
        <br />

        @Html.TextBox("Description", null, new { @class = "form-control" })
    </div>
    <br />

    <div class="d-flex justify-content-center flex-row m-2 mt-0">
        <button class="btn btn-success" type="submit"><i class="bi bi-pencil"></i> Modifica grup</button>
    </div>

}


