@model Cod.Models.Group

@{
    ViewBag.Title = "Edit group";
}

<h2> @ViewBag.Title </h2>


@using (Html.BeginForm(controllerName: "Groups", actionName: "Edit", method: FormMethod.Post,
      routeValues: new { id = Model.Id }))
{
    @Html.Label("Name", "Name of group")
    <br />
    @Html.Editor("Name")

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Description of group")
    <br />
    @Html.Editor("Description")

    <button class="btn btn-success" type="submit"> Edit group </button>
}


