@if (ViewBag.message != null)
{
    <div class="alert @ViewBag.messageType p-3 rounded-3 text-center mb-5" role="alert"> @ViewBag.message </div>
}

@{
    ViewBag.Title = "Listeaza grupuri";
}
<h1 class="text-center">@ViewBag.Title</h1>
<hr/>
<br />

@foreach (Cod.Models.Group group in ViewBag.Groups)
{
    <div class="card">
        @Html.Partial("GroupContent", group)
        @* @foreach (Cod.Models.Post post in group.Posts)
        {
            <div class="card m-2 p-2">
                @Html.Partial("PostContent", post)
            </div>
        } *@
    </div>
    <br />
}
<br />
@if (User.IsInRole("Admin"))
{
    <div class="align-items-center justify-content-around d-flex">
        <a class="btn btn-success" href="/Groups/New">Adauga grup</a>
    </div>
}
<br />