@model Cod.Models.Group

@{
    ViewBag.Title = "Add group";
}

<h2> @ViewBag.Title </h2>

@Html.ValidationSummary(false, "", new {@class = "text-danger"})
@using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
{

    @Html.Label("Name", "Name of group")
    <br />

    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br/>

    @Html.Label("Description", "Description of group")
    <br />

    @Html.TextBox("Description", null, new { @class = "form-control" })

    <br />
    <br />

    <button class="btn btn-success" type="submit">Adauga grup</button>

}


