@if (ViewBag.message != null)
{
    <div class="alert @ViewBag.messageType p-3 rounded-3 text-center mb-5" role="alert"> @ViewBag.message </div>
}

@model Cod.Models.Group
@{
    ViewBag.Title = @Model.Name;
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr/>
<br />

<div class="card">
    @Html.Partial("GroupShowContent", Model)
    @foreach (Cod.Models.Post post in Model.Posts)
    {
        <div class="card m-2 p-2">
            @Html.Partial("PostContent", post)
        </div>
    }
</div>
<br />
<div class="d-flex justify-content-around flex-row m-2 mt-0">
    <a class="btn btn-success" href="/Groups/Index"> Afiseaza toate grupurile </a>
    <a class="btn btn-success" href="/Posts/New/@Model.Id"> Adauga o postare </a>
</div>