@model Cod.Models.Post

<div class="card-body">
    <div class="d-flex justify-content-between flex-row mb-2">
        <div class="">

            <i class="bi bi-person"></i> @Model.Profile.FirstName @Model.Profile.LastName
        </div>
        <div>
            <i class="bi bi-globe"></i> @Model.Group.Name
        </div>
        <span>@Model.CreationDate</span>
    </div>
    <div>@Model.Content</div>
</div>

@if (User.IsInRole("Admin") || ViewBag.UserCurent == Model.ProfileId)
{
    <div class="d-flex justify-content-between flex-row m-2 mt-0">
        <a class="btn btn-success" href="/Posts/Edit/@Model.Id"><i class="bi bi-pencil"></i> Modifica postare</a>
        <a class="btn btn-success" href="/Comments/New/@Model.Id"><i class="bi bi-chat-square"></i> Adauga comentariu</a>
        <form method="post" action="/Posts/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Sterge postare</button>
        </form>
    </div>
}
else
{
    <div class="d-flex justify-content-center flex-row m-2 mt-0">
        <a class="btn btn-success" href="/Comments/New/@Model.Id"><i class="bi bi-chat-square"></i> Adauga comentariu</a>
    </div>
}

<!-- TODO modify (adauga click pe imagini ca sa poti vedea profilu)-->